* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "cairo", "sans-serif";
}

p {
    margin-bottom: 0 !important;
}

.post {
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post-info,
.post-creator-info,
.post-comments {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-info > *,
.post-creator-info > * {
    padding: 10px 20px;
}

.post-info .head,
.post-creator-info .head,
.post-comments .head {
    background-color: #ccc;
    padding: 10px 20px;
}

.post-comments .comment {
    display: flex;
    gap: 15px;
    margin: 20px;
}

.post-comments .comment-avatar {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #777;
}

.post-comments .comment-info {
    flex: 1;
}

.post-comments .comment-info .comment-body {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 6px 10px 10px;
}

.post-comments .comment-info .comment-created-at {
    font-size: 14px;
    color: #777;
    padding-left: 10px;
}

form.add-comments textarea {
    width: 100%;
    resize: none;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    caret-color: #777;
}

form.add-comments input[type="submit"] {
    text-decoration: none;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: 0;
    padding: 10px;
}
